[submodule "vendor/sokol"]
	path = vendor/sokol
	url = https://github.com/floooh/sokol.git
[submodule "vendor/sokol-tools-bin"]
	path = vendor/sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin.git
[submodule "vendor/emsdk"]
	path = vendor/emsdk
	url = https://github.com/emscripten-core/emsdk
[submodule "vendor/HandmadeMath"]
	path = vendor/HandmadeMath
	url = https://github.com/HandmadeMath/HandmadeMath.git
