[submodule "vendor/sokol"]
	path = vendor/sokol
	url = https://github.com/floooh/sokol.git
[submodule "vendor/sokol-tools-bin"]
	path = vendor/sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin.git
